
  <div class="bloqueNotificaciones {{ position }}">
      <div class="bloqueLinea tipoA {{ type }}">
        <div class="texto">
            <i class="loader"></i>
            <p class="titulo"> Debido a actualizaciones el sistema no estará disponible para hacer trámites el día martes 23/08/2020 {{ title }}</p>
            <p class="cuerpo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum {{ description }}</p>
        </div>
      </div>
    <div class="bloqueLinea tipoB {{ type }}">
      <div class="texto">
        <i class="loader"></i>
        <p class="titulo"> Debido a actualizaciones el sistema no estará disponible para hacer trámites el día martes 23/08/2020 {{ title }}</p>
        <p class="cuerpo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum {{ description }}</p>
      </div>
    </div>
  </div>

