<div class="bodyHome">
  
<div class="card">
  <div class="container">
    <h1 class="titulo">SYN</h1>
    <hr style="border: 2px solid;">
    <p class="texto">El proyecto SYN aborda varias de las problemáticas y limitaciones científico-técnicas existentes en el ámbito tecnológico relacionado 
      con el mantenimiento software, con la intención de proponer una solución novedosa que mejore el estado actual del arte, y que permita implementar 
      dicha solución en los sistemas de seguimiento de incidencias.</p>
    <p class="texto">Dichas problemáticas y limitaciones científico-técnicas sobre las que se pretende investigar y plantear una solución se pueden 
      clasificar en los siguientes puntos:</p>
    <ul class="texto">
      <li>
        Detección de incidencias duplicadas.
      </li>
      <li>
        Recuperación de incidencias similares.
      </li>
      <li>
        Detección de incidencias clasificadas de forma errónea.
      </li>
      <li>
        Detección de incidencias priorizadas de forma errónea.
      </li>
      <li>
        Detección de incidencias asignadas de forma errónea.
      </li>
    </ul>
    <p class="texto">El objetivo principal de SYN, es crear un sistema avanzado de gestión de incidencias software,
       para lo que han desarrollado <span class="subrayado">algoritmos híbridos basados en Redes Neuronales con mecanismos de atención, así como de 
       Transfer Learning para la creación de un novedoso modelo que aplique una perspectiva holística a la gestión de incidencias en sistemas complejos 
       de Software Infrastructure and Application Management.</span></p>
       <p class="texto">Debido a que el presente proyecto se alberga dentro del campo de procesamiento de lenguaje natural y, a que el lenguaje de manera intrínseca 
       exhibe propiedades sintácticas que naturalmente combinan palabras con frases formando estructuras secuenciales complejas, para materializar el sistema 
       desarrollado, se han aplicado algoritmos de Inteligencia Artificial capaces de preservar la información secuencial. En concreto se han estudiado y empleado,
       <b>redes Tree-LSTM</b> (Tai et al., 2015), un tipo de red neuronal recurrente de alta complejidad adaptada a topologías estructuradas en forma de árbol como el 
       análisis lingüístico, <b> mecanismos de atención.</b> Este tipo de redes han obtenido excelentes resultados en tareas como predecir la relación semántica de 
       dos oraciones y la clasificación de sentimiento.</p>
       <p class="texto">
       El núcleo del sistema está constituido por un modelo neurosimbólico que, combinando redes neuronales y reglas simbólicas, es capaz de capturar tanto
       el conocimiento del programador como las evaluaciones de incidencias pasadas, de forma que es posible incorporar lo anteriormente aprendido y obtener una 
       mejora sustancial en la resolución de las incidencias. Es un sistema altamente escalable, personalizable y dinámico capaz de adaptarse a las distintas 
       casuísticas de cualquier entorno de proyecto de investigación (lenguaje utilizado, equipo de desarrollo, ámbito específico de los proyectos, etc.). 
       Estas capacidades, además de suponer una ventaja competitiva para la empresa, facilitarán su utilización en ulteriores trabajos de investigación y 
       desarrollo llevados a cabo por parte de la comunidad científica.
       </p>
       <i class="texto">Financiado por el Ministerio de Economía y Empresa a través de la convocatoria THD - 1/2019 para la concesión de ayudas para la realización 
        de proyectos en el ámbito de las Tecnologías Habilitadoras Digitales, dentro del Plan Estatal de Investigación Científica y Técnica y de Innovación 2017-2020.
         (nº expediente: TSI-100905-2019-21).</i>
  
       <div class="ministerioPicture"></div>
  </div>
</div>

</div>