##############################
# Variables used in the code #
##############################
# Working environment.
WORK_ENVIRONMENT=aws
ARCHITECTURE=codebooks
PYTHON_EXECUTABLE=python3

# Access information to the database created from the copy of the Redmine database.
MYSQL_HOST_IP_REDMINE=******
MYSQL_PORT_REDMINE=******
MYSQL_DATABASE_REDMINE=redmine


# Mongo DB access information.
MONGO_HOST_IP=localhost
MONGO_PORT=******
MONGODB_USERNAME="******"
MONGODB_PASSWORD="******"
MONGODB_AUTHENTICATION_DATABASE="******"
MONGO_AUTHENTICATION_MECHANISM=******
MONGO_BATCH_SIZE=50

# Access information to the DB created to contain transformations performed on the original Redmine tables.
MYSQL_HOST_IP_REDMINE_SYN=******
MYSQL_PORT_REDMINE_SYN=******
MYSQL_DATABASE_REDMINE_SYN=redmine_syn


# Bugzilla login information.
BUGZILLA_PROJECT_NAME="eclipse,netbeans,openoffice"
BUGZILLA_API_KEY=******

BUGZILLA_ECLIPSE_REST_API_URL=https://bugs.eclipse.org

BUGZILLA_OPEN_OFFICE_XML_RPC_API_URL=https://bz.apache.org/ooo/xmlrpc.cgi
BUGZILLA_OPEN_OFFICE_XML_RPC_SEARCH_URL=https://bz.apache.org/ooo/buglist.cgi

BUGZILLA_NETBEANS_XML_RPC_API_URL=https://netbeans.org/bugzilla/xmlrpc.cgi
BUGZILLA_NETBEANS_XML_RPC_SEARCH_URL=https://netbeans.org/bugzilla/query.cgibuglist.cgi

BUGZILLA_MOZILLA_REST_API_URL=https://bugzilla.mozilla.org/

BUGZILLA_GCC_REST_API_URL=https://gcc.gnu.org/bugzilla/
BUGZILLA_GCC_XML_RPC_API_URL=https://gcc.gnu.org/bugzilla/xmlrpc.cgi
BUGZILLA_GCC_XML_RPC_SEARCH_URL=https://gcc.gnu.org/bugzilla/buglist.cgi

BUGZILLA_MONGODB_DATABASE_NAME=bugzilla
BUGZILLA_STATISTICS_MONGODB_DATABASE_NAME=bugzilla
BUGZILLA_STATISTICS_MONGODB_COLLECTION_NAME=statistics
BUGZILLA_FIRST_CREATION_YEAR=2000
BUGZILLA_LAST_CREATION_YEAR=2021

# Jira access information.
JIRA_APACHE_SERVER=https://issues.apache.org/jira
JIRA_MONGODB_DATABASE_NAME=jira
JIRA_STATISTICS_MONGODB_COLLECTION_NAME=statistics
JIRA_PROJECT_NAME=HADOOP,HDFS,MAPREDUCE,SPARK
JIRA_FIRST_CREATION_YEAR=2001
JIRA_LAST_CREATION_YEAR=2021

# Information for generating embeddings.
EMBEDDING_MONGODB_DATABASE_NAME=eclipse,openOffice,netBeans,bugzilla
EMBEDDING_MONGODB_COLLECTION_NAME=normalized_clear
EMBEDDING_MONGODB_COLUMN_NAME=normalized_description
EMBEDDING_MONGODB_MAX_NUM_TOKENS=150

# Information for files in which data sets generated in the data description task are stored.
DESCRIBE_DATA_OUTPUT_PATH=syn/crisp-dm/describe-data/output
DESCRIBE_DATA_OUTPUT_PATH_MONGO=syn/crisp-dm/describe-data-mongo

# Information for the files in which the data sets generated in the data exploration task are stored..
EXPLORE_DATA_OUTPUT_PATH=syn/crisp-dm/explore-data/output
EXPLORE_DATA_OUTPUT_PATH_MONGO=syn/crisp-dm/explore-data-mongo

# Corpus names
CORPUS_NAME=eclipse,openOffice,netBeans,bugzilla

# Tasks names
TASK_NAME=prioritization,classification,assignation,duplicity,similarity

# Structured data column names
STRUCTURED_DATA_COLUMN_NAMES=product,bug_severity,priority,component

# Word embeddings models an sizes
EMBEDDINGS_MODEL=word2vec,fasttext,glove
EMBEDDINGS_SIZE=100,300

# Paths
DATA_PATH=/datadrive/host-mounted-volumes/syn/data/
MODEL_DUMP_PATH=/datadrive/host-mounted-volumes/syn/model_dump/
EXPERIMENTS_PATH=/datadrive/host-mounted-volumes/syn/experiments/
EVALUATE_DATA_PATH=/datadrive/host-mounted-volumes/api/evaluate_data/

# Dataset
TRAIN_DATA_SIZE=0.7
DEV_DATA_SIZE=0.15
TEST_DATA_SIZE=0.15

# Train
ENDURE_UPPER=-1

# DyNet config
DYNET_USE_GPU=1
DYNET_SEED=230
DYNET_MEM=10000
DYNET_GPUS=1
DYNET_AUTOBATCH=1

# Plot attention
PLOT_ATTENTION_COLS_GRID=5
PLOT_ATTENTION_CBAR_POSITION=right
PLOT_ATTENTION_CBAR_ASPECT=40
PLOT_ATTENTION_CBAR_PAD_FRACTION=0.5

# Gerrit
GERRIT_DB_NAME=gerrit
GERRIT_API_URL=https://git.eclipse.org/r/
GERRIT_PROJECT_NAME=eclipse
GERRIT_FIRST_CREATION_YEAR=2001
GERRIT_LAST_CREATION_YEAR=2021
GERRIT_EXCLUDED_FILES=pom.xml
GERRIT_EXCLUDED_EXTENSIONS=.md

# GitHub
GITHUB_DB_NAME=github
GITHUB_API_URL=https://api.github.com
GITHUB_REST_API_TOKEN=******

# REST API
MONGO_API_USER=******
MONGO_API_PASSWORD=******
MONGO_API_HOST=*****
MONGO_CODEBOOKS_API_HOST=*****
MONGO_API_PORT=******
MONGO_API_AUTH_SOURCE=******
MONGO_API_AUTH_MECHANISM=******

# Stanford CoreNLP server
CORENLP_HOME=/datadrive/host-mounted-volumes/stanford-corenlp
CORENLP_SERVER_PORT=9000
CORENLP_SERVER_TIMEOUT=15000

LOOP_BATCH_SIZE=2500

COMPOSITE_ID_FIELDS=component,product,priority