h1 {
  font-size: 47px;
  text-align: center;
}

.titulo {
  padding: 15px;
  margin: 10px;
}

.tEntrenamiento {
  width: 100%;
  margin-top: 15px;
  color: #474747;
}

.centrar {
  justify-content: center;
  text-align: center;
}

.centrarSelect {
  text-align: center;
  margin-top: 30px;
}

.texto-descriptivo {
  width: auto;
}

.card-texto-descriptivo {
  box-shadow: none;
}

.card-test {
  margin-top: 25px;
  margin-left: 1px;
  margin-bottom: 100px;
  width: 500px;
  height: 300px;
}

.card-tour {
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 100px;
  width: 500px;
  height: 300px;
}

.texto-descriptivo {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.parrafos {
  padding-left: 200px;
}

.contenedor-opciones {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.div-card-test {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.div-card-tour {
  float: right;
  padding-right: 30px;
}

.linea-titulo {
  width: 500px;
}

mat-divider {
  height: 300px;
  border-color: #707070;
  margin-top: 5px;
}
.tituloTabla {
  padding: 15px;
  margin: 10px;
  font-size: 25px;
}
.divider {
  float: left;
}

.iconosOpciones {
  float: left;
}

.tituloTraining {
  margin-top: 45px;
  font-size: 12px;
}

.iconosOpcionest {
  padding-bottom: 25px;
  text-align: center;
  width: 100%;
  height: max-content;
  background: rgb(59, 166, 226);
  background: -moz-linear-gradient(
    317deg,
    rgba(59, 166, 226, 1) 0%,
    rgba(3, 111, 154, 1) 56%
  );
  background: -webkit-linear-gradient(
    317deg,
    rgba(59, 166, 226, 1) 0%,
    rgba(3, 111, 154, 1) 56%
  );
  background: linear-gradient(
    317deg,
    rgba(59, 166, 226, 1) 0%,
    rgba(3, 111, 154, 1) 56%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ba6e2",endColorstr="#036f9a",GradientType=1);
}

.boton {
  margin-bottom: 50px;
  padding-top: 125px;
  padding-right: 5px;
  text-align: center;
  cursor: pointer;
}
.result {
  margin-left: 70px;
}
.titulos {
  text-align: center;
}
.opcion {
  padding-top: 75px;
}

button {
  background-color: #0459a0;
  color: white;
  width: 280px;
}
.selectTraining {
  width: 60%;
  float: left;
  margin-left: 2.6%;
  text-align: start;
}
.selectTrainingByType {
  width: 80%;
  float: right;
}
.selectCorpus {
  width: 20%;
  float: left;
}

svg {
  padding-top: 45px;
}

mat-form-field {
  float: center;
  width: 75%;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.treatmentsContainer {
  width: 100%;
}
.clickable:hover {
  cursor: pointer;
}
.selectedCard {
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.14),
    0 8px 8px 0 rgba(0, 0, 0, 0.12) !important;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--appBackground);
}

.trainings {
  margin-left: 1px;
  margin-top: 35px;
  height: 300px;
  text-align: center;
  padding: 0 0 0 0;
  cursor: pointer;
  cursor: pointer;
}
.tituloTarjeta {
  justify-content: center;
  margin-bottom: 35px;
  font-size: 15px;
}
table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

::ng-deep .mat-tooltip {
  font-size: 18px !important;
  white-space: pre-line !important;
}

.my-tooltip {
  white-space: pre-line;
}

.buttonMetrics {
  float: right;
  margin-bottom: 1px;
  cursor: pointer;
}
.mat-tooltip {
  width: 100% !important;
}
